<meta charset="UTF-8">
<title>CynthiAI</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>
<!-- 
<div class="header clearfix">
    <nav>
        <h1>CynthiAI</h1>
    </nav>
</div>
-->